@model textis.ViewModel.ProjectLineViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Eyða línum</h2>

<h3></h3>
<div>
    <h4>ProjectLine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.User, "Notandi")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>

        <dt>
            @Html.LabelFor(model => model.TimeFrom, "Tími frá")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeFrom)
        </dd>

        <dt>
            @Html.LabelFor(model => model.TimeTo, "Tími til")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeTo)
        </dd>

        <dt>
            @Html.LabelFor(model => model.TextLine1, "Lína 1")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextLine1)
        </dd>

        <dt>
            @Html.LabelFor(model => model.TextLine2, "Lína 2")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextLine2)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Date, "Dagsetning")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Language, "Tungumál")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

        <dt>
            @Html.LabelFor(model => model.ProjectUser, "Beytti síðast")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectUser)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eyða" class="btn btn-default" /> |
            @Html.ActionLink("Aftur í lista", "Index")
        </div>
    }
</div>
