@model textis.ViewModel.ProjectLineViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ProjectLine</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectId, "Mynefni", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProjectId", String.Empty)
                @Html.ValidationMessageFor(model => model.ProjectId)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.User, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User)
                @Html.ValidationMessageFor(model => model.User)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.TimeFrom, "Tími frá", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TimeFrom)
                @Html.ValidationMessageFor(model => model.TimeFrom)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TimeTo, "Tími til", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TimeTo)
                @Html.ValidationMessageFor(model => model.TimeTo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TextLine1, "Lína 1", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TextLine1)
                @Html.ValidationMessageFor(model => model.TextLine1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TextLine2, "Lína 2", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TextLine2)
                @Html.ValidationMessageFor(model => model.TextLine2)
            </div>
        </div>

  

        <div class="form-group">
            @Html.LabelFor(model => model.Language, "Tungumál", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Language)
                @Html.ValidationMessageFor(model => model.Language)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Vista" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Aftur í lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
