@model textis.ViewModel.UpvoteViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Eyða meðmælum</h2>

<h3>Ertu viss um að þú viljir eyða þessum meðmælum?</h3>
<div>
    <h4>Mæla með</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.User, "Notandi")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Date, "Dagsetning")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.LabelFor(model => model.ProjectName, "Myndefni")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eyða" class="btn btn-default" /> |
            @Html.ActionLink("Aftur í lista", "Index")
        </div>
    }
</div>
