@model textis.ViewModel.UpvoteViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Nánar</h2>

<div>
    <h4>Meðmæli</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.User, "Notandi")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Date, "Dagsetning")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.LabelFor(model => model.ProjectName, "Myndefni")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

    </dl>
</div>
<div>
    @Html.ActionLink("Breyta", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Aftur í lista", "Index")
</div>
