@model textis.ViewModel.ProjectViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Eyða verkefni</h2>

<h3></h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            Notandi
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>
        <dt>
            Dagsetning
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            Myndefni
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Staða
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            Flokkur
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eyða" class="button_red" /> 
            <button class="button" onclick="@Url.Action("Index", "Index")">Aftur í lista</button>
    </div>
    }
</div>
