@model IEnumerable<textis.ViewModel.ProjectViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>textis</h1>
    @using (Html.BeginForm("Index", "Project", FormMethod.Get))
    {
        <div class="search_box">
            @Html.DropDownList("category", "Allir flokkar")
            @Html.TextBox("SearchString", "", new { placeholder = "Titill myndar" })
            <input id="search_string_button" type="submit" value="Leita" />
            <p id="text_request">
                Ég vil @Html.ActionLink("óska eftir texta", "Create") sem ég fann ekki.
            </p>
        </div>
    }
</div>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Titill", "Index", new { sortOrder = "Name", category = ViewBag.categoryBag, searchString = ViewBag.searchBag })
        </th>
        <th>
            @Html.ActionLink("Notandi", "Index", new { sortOrder = "User", category = ViewBag.categoryBag, searchString = ViewBag.searchBag })
        </th>
        <th>
            @Html.ActionLink("Dagsetning", "Index", new { sortOrder = "Date", category = ViewBag.categoryBag, searchString = ViewBag.searchBag })
        </th>
        <th>
            @Html.ActionLink("Flokkur", "Index", new { sortOrder = "Category", category = ViewBag.categoryBag, searchString = ViewBag.searchBag })
        </th>
        <th>
            @Html.ActionLink("Staða", "Index", new { sortOrder = "Status", category = ViewBag.categoryBag, searchString = ViewBag.searchBag })
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @using (Html.BeginForm("DownloadFileFromIndex", "Project", FormMethod.Post, new { enctype = "multipart/form-data", id = item.Id }))
                {
                    @Html.ActionLink(item.Name, "DownloadFileFromIndex", new { id = item.Id })

                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>

            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    @Html.ActionLink("Breyta", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Nánar", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Eyða", "Delete", new { id = item.Id })
                </td>
            }
        </tr>
    }
</table>
