@model IEnumerable<textis.ViewModel.ProjectViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>textis</h1>
    @using (Html.BeginForm("Index", "Project", FormMethod.Get))
    {
        <div class="search_box">
            @Html.DropDownList("category", "Allir flokkar")
            @Html.TextBox("SearchString", "", new { placeholder = "Titill myndar", autofocus = "autofocus" })
            <input id="search_string_button" type="submit" value="Leita"/>
        </div>
    }
</div>
@if (ViewBag.empty == "Empty")
{
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" aria-hidden="true">&times;</button>
        <strong>Leitin skilaði engri niðurstöðu</strong> Var titillinn örugglega rétt sleginn inn? Eða viltu @Html.ActionLink("óska eftir texta", "Create") sem þú fannst ekki?
    </div>
}

<table class="table" id="upvoteTable">
    <tr>
        <th>
            @Html.ActionLink("Titill", "Index", new { sortOrder = "Name", category = ViewBag.categoryBag, searchString = ViewBag.searchBag })
        </th>
        <th>
            @Html.ActionLink("Notandi", "Index", new { sortOrder = "User", category = ViewBag.categoryBag, searchString = ViewBag.searchBag })
        </th>
        <th>
            @Html.ActionLink("Dagsetning", "Index", new { sortOrder = "Date", category = ViewBag.categoryBag, searchString = ViewBag.searchBag })
        </th>
        <th>
            @Html.ActionLink("Flokkur", "Index", new { sortOrder = "Category", category = ViewBag.categoryBag, searchString = ViewBag.searchBag })
        </th>
        <th>
            @Html.ActionLink("Staða", "Index", new { sortOrder = "Status", category = ViewBag.categoryBag, searchString = ViewBag.searchBag })
        </th>
        <th>
            @Html.ActionLink("Meðmæli", "Index", new { sortOrder = "Like", category = ViewBag.categoryBag, searchString = ViewBag.searchBag })
        </th>
        <th>
            
        </th>
        <th>            
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @using (Html.BeginForm("DownloadFileFromIndex", "Project", FormMethod.Post, new { enctype = "multipart/form-data", id = item.Id }))
                {
                    @Html.ActionLink(item.Name, "DownloadFileFromIndex", new { id = item.Id })

                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <div id="columnCenter">
                    @Html.DisplayFor(ModelItem => item.UpvoteCount)
                    @Html.HiddenFor(ModelItem => item.Id)

                    <span onclick="upvote(@item.Id)" class="glyphicon glyphicon-arrow-up" id="upvote-project" title="Mæla með"></span>
                </div>
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    @Html.ActionLink("Breyta", "Edit", new { id = item.Id })
       
                    @if (User.IsInRole("Admin"))
                    {
                        <span>|</span>
                        @Html.ActionLink("Eyða", "Delete", new { id = item.Id })
                    }
                </td>
            }
        </tr>
    }
</table>


