@model IEnumerable<textis.ViewModel.ProjectViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Yfirlit</h2>

<p>
    @Html.ActionLink("Búa til nýtt", "Create")
</p>

    @*@using (Html.BeginForm("Index", "Project", FormMethod.Get)){
    <p>
        Title: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Leita" />
    </p>
    }*@
<div class="jumbotron">
    @using (Html.BeginForm("Index", "Project", FormMethod.Get))
    {
        <div class="search_box">
            @Html.DropDownList("category", "Allir flokkar")
            @Html.TextBox("SearchString", "", new { placeholder = "Titill myndar" })
            <input id="search_string_button" type="submit" value="Leita" />
        </div>
    }
</div>

    <table class="table">
        <tr>
            <th>
                Notandi
            </th>
            <th>
                Dagsetning
            </th>
            <th>
                Myndefni
            </th>
            <th>
                Staða
            </th>
            @*<th>
                Vefslóð
            </th>*@
            <th>
                Flokkur
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.ActionLink("Breyta", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Nánar", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Eyða", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
